[Unit]
Description=Stake Django Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/stake_code
Environment="PATH=/root/stake_code/venv/bin"
Environment="STAKE_PLATFORM=linux"
ExecStart=/root/stake_code/venv/bin/python manage.py runserver 0.0.0.0:8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

